html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
  position: fixed;
  overflow: hidden;
}

#redwood-app {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GFS Didot', serif;
}

p,
li,
div,
span,
button,
a {
  font-family: 'GFS Neohellenic', sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}
